<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
       <p class="text-center">  <h1>OpenBCI UI - ITT</h1> </p>
      </div>
      <div id="cuerpo">
        <div class="row">
          <p class="text-center"> <h1>Login</h1> </p>
        </div>
        <div class="row">
          <label for="email">Email</label>
          <input id="email" class="form-control" type="text"/>
        </div>
        <div class="row">
          <label for="password">Password</label>
          <input id="password" class="form-control" type="password"/>
        </div>
        <br/>
        <div class="row">
          <div class="col-sm-12">
            <p class="text-center">
              <button id="login" type="button" class="btn btn-primary">Login</button>
            </p>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-sm-12">
          <p class="text-center">
            <label for="serial">PUERTO</label>
            <input id="serial" class="form-control" type="text"/>
          </p>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-sm-12">
          <p class="text-center">
            <label for="numero">READ</label>
            <input id="numero" class="form-control" type="number"/>
          </p>
        </div>
      </div>
    </div>


    <!--Importamos el script-->
    <script type="text/javascript" src="../scripts/master.js"></script>
    <script type="text/javascript" src="../scripts/index.js"></script>
    <script type="text/javascript" src="../scripts/openbci.js"></script>
    <!-- <script type="text/javascript" src="../scripts/webcapa.js"></script> -->
    <!-- <script type="text/javascript" src="../scripts/serialport.js"></script> -->
  </body>
</html>
