<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>OpenBCI UI</h1>
      </div>
      <div class="row">
        We are using node <script>document.write(process.versions.node)</script>,
        Chrome <script>document.write(process.versions.chrome)</script>,
        and Electron <script>document.write(process.versions.electron)</script>.
      </div>
      <div class="row">
        <label for="email">Email</label>
        <input id="email" class="form-control" type="text"/>
      </div>
      <div class="row">
        <label for="password">Password</label>
        <input id="password" class="form-control" type="text"/>
      </div>
    </div>


    <!--Importamos el script-->
    <script src="../scripts/master.js"></script>

  </body>
</html>
