<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><<h3>Tabla de Pruebas</h3></title>
  </head> -->
  <body class="main">
    <div class="container body">
      <div class="main_container">
          <table id="myTable" class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name pruebas</th>
                <th scope="col">Date</th>
                <th scope="col">Duration</th>
                <th scope="col">Expected Emotion</th>
                <th scope="col">Options</th>
              </tr>
            </thead>
            <tbody id="body_container">

            </tbody>
      </table>
    </div>
  </div>
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
  <!--JS Propio-->
  <script type="text/javascript" src="../scripts/vistas/tabla_pruebas.js"></script>
  <script>if (window.module) module = window.module;</script>
  </body>
<!-- </html> -->
