<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><<h3>Tabla de Pruebas</h3></title>
  </head> -->
  <body class="main">
    <div class="container body">
      <div class="main_container">
        <div class="text-right">
          <button id="alta_usuario" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Add <i class="fa fa-plus"></i></button>
        </div>
          <table id="myTable" class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Gender</th>
                <th scope="col">Date</th>
                <th scope="col">Options</th>
              </tr>
            </thead>
            <tbody id="body_container">

            </tbody>
      </table>
    </div>
  </div>
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
  <!--JS Propio-->
  <script type="text/javascript" src="../scripts/vistas/tabla_pacientes.js"></script>
  <script>if (window.module) module = window.module;</script>
  </body>
<!-- </html> -->
