<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Test Data</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  </head>
  <body id="body">
    <div class="container">
      <div class="row">
        <h1>DataSet</h1>
      </div>
      <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" id="start">Start</button>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-primary" id="stop">Stop</button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <canvas id="myChart" width="200" height="100"></canvas>
        </div>
        <div class="col-md-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              señal 1
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              señal 2
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              señal 3
            </label>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="container-fluid">
          <div class="col-md-6">
            <div class="form-group col-md-4">
              <label for="prueba">Número de prueba</label>
              <input class="form-control" type="text" readonly="readonly" id="prueba" value="">
            </div>
            <div class="form-group col-md-4">
              <label for="emocion">Emoción esperada</label>
              <input class="form-control" type="text" readonly="readonly" id="emocion" value="">
            </div>
          </div>
          <div class="col-md-6">
              <div class="form-group col-md-4">
                <label for="video">Video</label>
                <input class="form-control" type="text" readonly="readonly" id="video" value="">
              </div>
              <div class="form-group col-md-4">
                <label for="duracion">Duración</label>
                <input class="form-control" type="text" readonly="readonly" id="duracion" value="">
              </div>
          </div>
        </div>
      </div>
    </div>

    <!--Importamos el script-->
    <script type="text/javascript" src="../scripts/master.js"></script>
    <!-- <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script> -->

    <script type="text/javascript" src="../scripts/test.js"></script>
    <script type="text/javascript" src="../scripts/openbci.js"></script>
    <!-- <script type="text/javascript" src="../scripts/webcapa.js"></script> -->
    <!-- <script type="text/javascript" src="../scripts/serialport.js"></script> -->
  </body>
</html>
